name: Build

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      paths:
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      REGISTRY: ghcr.io

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: filter
        name: Filter paths
        if: ${{ inputs.paths != '' }}
        uses: dorny/paths-filter@v2
        with:
          filters: ${{ inputs.paths }}

      - id: exists
        name: Check if image exists in GHCR
        if: ${{ inputs.paths != '' }}
        run: echo "exists=$(docker manifest inspect ghcr.io/${{ github.repository }}:${{ inputs.tag }} >/dev/null 2>&1 && echo true || echo false)" >> "$GITHUB_OUTPUT"

      - id: metadata
        if: ${{ inputs.paths == '' || steps.exists.outputs.exists == 'false' || steps.filter.outputs.changes == 'true' }}
        name: Generate image metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: type=raw,value=${{ inputs.tag }}

      - name: Build and Push
        if: ${{ inputs.paths == '' || steps.exists.outputs.exists == 'false' || steps.filter.outputs.changes == 'true' }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: type=gha,scope=${{ inputs.tag }}
          cache-to: type=gha,scope=${{ inputs.tag }},mode=max
